Source: boscli-oss-core
Section: shells
Priority: extra
Maintainer: Eduardo Ferro Aldama <eferro@alea-soluciones.com>

Package: boscli-oss-core
Architecture: all
Depends: ${shlibs:Depends}, python
Description: BOS Command Line Interface Core
 BOS Command Line Interface
 .

